html
    // Photos provides by Unsplash. Unsplash License: Creative Commons Zero. All photos published on Unsplash are licensed under Creative Commons Zero which means you can copy, modify, distribute and use the photos for free, including commercial purposes, without asking permission from or providing attribution to the photographer or Unsplash.
    head
        meta(http-equiv="content-type" content="text/html" charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet" href="css/inline.css")
    body
        table.table-email
            tbody
                tr
                    td.wrap-td-header
                        table.table-header-zero
                            tbody
                                tr
                                    td
                        table.table-header
                            tbody
                                tr
                                    td.td-header.left auto-do
                                    td.td-header.right Первый Аукцион <br> Страховок
                        table.table-header-zero
                            tbody
                                tr
                                    td
                tr
                    td
                        table.header-title
                            tbody
                                tr
                                    td результаты других страховых компаний
                tr
                    td
                        table.header-order
                            tbody
                                tr
                                    td Заявка
                                        span №236
        table.table-email
            tbody
                tr
                    td
                        table.content-order
                            tbody
                                tr
                                    td.left
                                        table.first_level
                                            tbody
                                                tr
                                                    td.main-bg
                                                        table
                                                            tbody
                                                                tr
                                                                    td.left-col Вид транспорта
                                                                    td.right-col
                                                                        p Коммерческие <br>
                                                                        span.grey Легкий коммерческий до 1 т.
                                                                tr
                                                                    td.left-col
                                                                        p О машине
                                                                        span.grey.pl Марка машины <br>
                                                                        span.grey.pl Модель машины <br>
                                                                        span.grey.pl Год выпуска <br>
                                                                        span.grey.pl Пробег <br>
                                                                        span.grey.pl Стоимость <br>

                                                                    td.right-col
                                                                        p &nbsp;
                                                                        span Alfa Romeo
                                                                        span Giulia Quadrafoglio
                                                                        span 2016 г.
                                                                        span 15 000 км
                                                                        span 6 000 000 руб
                                                                tr
                                                                    td.left-col Владелец
                                                                    td.right-col Физическое лицо
                                                                tr
                                                                    td.left-col Транспортное средство
                                                                    td.right-col Нет дополнительных обременений
                                                                tr
                                                                    td.left-col Регион регистрации владельца
                                                                    td.right-col Московская область
                                                                tr
                                                                    td.left-col Регион эксплуатации транспорта
                                                                    td.right-col Регионы РФ
                                    td.right
                                        table.first_level
                                            tbody
                                                tr
                                                    td.main-bg
                                                        table
                                                            tbody
                                                                tr
                                                                    td.left-col Транспорт используется для
                                                                    td.right-col
                                                                        p Коммерческого использования
                                                                        span.grey Такси
                                                                tr
                                                                    td.left-col Противоугонные устройства
                                                                    td.right-col Штатные
                                                                tr
                                                                    td.left-col
                                                                        p Водители
                                                                        span.grey.pl Пол <br>
                                                                        span.grey.pl Возраст <br>
                                                                        span.grey.pl Стаж вождения <br>

                                                                    td.right-col
                                                                        p &nbsp;
                                                                        span Мужской
                                                                        span 38 лет
                                                                        span 16 лет
                                                                tr
                                                                    td.left-col Страхуем
                                                                    td.right-col Угон+тотальное уничтожение
                                                                tr
                                                                    td.left-col Франшиза
                                                                    td.right-col По предоставленным счетам
                                                                tr
                                                                    td.left-col Срок действия договора
                                                                    td.right-col 5 лет
                                                                tr
                                                                    td.left-col Порядок оплаты
                                                                    td.right-col
                                                                        p В рассрочку:
                                                                        span.grey.pl 3 платежа
        table.table-email
            tbody
                tr
                    td
                        table.tariff-order
                            tbody
                                tr
                                    td.main-wrap
                                        table
                                            tbody
                                                tr
                                                    td.left.head Страховщики
                                                    td.right.head Тариф
                                                tr
                                                    td.left.row Имя страхощика
                                                    td.right.row 122 000&nbsp;
                                                        span руб
                                                tr
                                                    td.left.row Имя страхощика
                                                    td.right.row 99 000&nbsp;
                                                        span руб
                                                tr
                                                    td.left.row Имя страхощика
                                                    td.right.row 115 000&nbsp;
                                                        span руб
                                                tr
                                                    td.left.row Имя страхощика
                                                    td.right.row 125 000&nbsp;
                                                        span руб
                                                tr
                                                    td.left.row Имя страхощика
                                                    td.right.row 142 000&nbsp;
                                                        span руб
                                                tr
                                                    td.left.row Имя страхощика
                                                    td.right.row 103 000&nbsp;
                                                        span руб
                                                tr
                                                    td.left.row Имя страхощика
                                                    td.right.row 96 000&nbsp;
                                                        span руб
                                                tr
                                                    td.left.row Имя страхощика
                                                    td.right.row 125 000&nbsp;
                                                        span руб
        table.table-email
            tbody
                tr
                    td.footer
                        table
                            tr
                                td.better
                                    img(src='http://front-end.web-experience.eu/autodoro-img/icon-label.png', width="32px", height="32px")
                                    | Предложить улучшенный <br> вариант тарифа
                            tr
                                td.white &nbsp;
